<!--av navbar-nav navbar-right">
          <li id="home"><a href="/">HOME</a></li>
          <li id="about"><a href="/about">ABOUT US</a></li>
          <li id="contact"><a href="/contact">CONTACT US</a></li>
        </ul>
    </div>
  </nav>

  <body>
    <div class="container"> -->
    <html>
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=0.70">

      <title>Swastika Kundu</title>


 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
 <link rel="stylesheet" href="/css/styles.css" type="text/css">

<script src="https://kit.fontawesome.com/7a953ee90c.js" crossorigin="anonymous"></script><link href="https://kit-free.fontawesome.com/releases/latest/css/free-v4-shims.min.css" media="all" rel="stylesheet"><link href="https://kit-free.fontawesome.com/releases/latest/css/free-v4-font-face.min.css" media="all" rel="stylesheet"><link href="https://kit-free.fontawesome.com/releases/latest/css/free.min.css" media="all" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css2?family=Cantora+One&amp;display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Courgette&amp;family=Pangolin&amp;display=swap" rel="stylesheet">
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

<link rel="icon" href="/images/favicon.ico">

 <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


    </head>

    <body>
      <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #4d3e3e">



         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
             <span class="navbar-toggler-icon"></span>
         </button>

         <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

           <ul class="navbar-nav ml-auto">
             <li class="nav-item">
               <a class="nav-link" href="#about">About</a>
             </li>
             <li class="nav-item">
               <a class="nav-link" href="#skillsid">Skills</a>
             </li>
             <li class="nav-item">
               <a class="nav-link" href="#contact">Contact</a>
             </li>
             <li class="nav-item">
               <a class="nav-link" href="/login">Log in</a>
             </li>
           </ul>

         </div>
       </nav>
      <div class="top-container">

        <div class="title-text">
          <h1>Welcome to my</h1>
          <h1>Website</h1>

      </div>

      </div>

      <div class="middle-container">
        <div id="about">

        <div class="profile">
          <img class="profile-img" src="/images/swastika.jpg" alt="swastika-profile-img">
          <h2>Hello</h2>
          <p class="intro-name">I am Swastika Kundu, a Web Developer.</p>
          <p class="intro"> I ❤️ to build and design my own things.</p>
        </div>
      </div>
        <hr>
        <div id="skillsid">


        <div class="skills">
          <h2>My Skills</h2>
          <div class="skill-row row">
            <div class="col-lg-6">


            <img class="code-img" src="/images/web-development.png" alt="web-development-img">
            </div>
<div class="col-lg-6">
            <h3>Web Development</h3>
            <p>I love to build and design my own websites. I have gained a wealth of experience designing and developing web applications.</p>
</div>
          </div>
          <div class="skill-row row">
            <div class="col-lg-6">
            <img class="second-img" src="/images/programming-image.png" alt="programming-img">
</div>
<div class="col-lg-6">
            <h3>Programming</h3>
            <p>I love to solve logical problems in programming. I learned some programming languages: C, C++, Java and Python.</p>
</div>
          </div>
          <div class="skill-row row">
            <div class="col-lg-6">
            <img class="code-img" src="/images/craft.png" alt="code-img">
</div>
<div class="col-lg-6">
            <h3>Art &amp; Craft</h3>
            <p>Crafting is my favourite hobby. I am doing this when i was 9 years old. I love to make my own things.</p>
</div>
          </div>
          <div class="skill-row row">
            <div class="col-lg-6">
            <img class="second-img" src="/images/writing.png" alt="writing-img">
</div>
<div class="col-lg-6">
            <h3>Writing</h3>
            <p>I love to put my thoughts on paper. Every person has his own diffrent thoughts to share. Follow me on Yourquote to see my thoughts and writings.</p>

            <a class="btn btn-secondary" href="https://www.yourquote.in/swastika-kundu-x4sv/quotes" role="button">Follow Me <i class="fas fa-heart"></i></a>
</div>
          </div>
            </div>
        </div>
        <hr>
        <div id="contact">

        <div class="contact-me">
          <h4>Wanna have those juicy Mangoes!!</h4>
          <h5>I love them so much.</h5>
          <h6 class="contact-message">Contact me for developing beautiful website like this or you can also invite me for a mango party.</h6>
          <a class="btn btn-secondary btn-lg" href="mailto:swastikak231@gmail.com"><i class="fas fa-envelope-open-text"></i> CONTACT ME</a>
        </div>
      </div>

<div class="testimonials">


          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner carousel-text">
              <div class="carousel-item active">

                <h6><i class="fas fa-quote-left"></i>  <%= thirdcontent %>  <i class="fas fa-quote-right"></i></h6>
                <div class="testimonial-writter">
                  <p> <%= thirdname %></p>
                </div>

              </div>
              <div class="carousel-item">
                <h6><i class="fas fa-quote-left"></i>  <%= secondcontent %>  <i class="fas fa-quote-right"></i> </h6>
                <div class="testimonial-writter">
                  <p> <%= secondname %> </p>
                </div>

              </div>
              <div class="carousel-item">
              <h6><i class="fas fa-quote-left"></i>  <%= content %>  <i class="fas fa-quote-right"></i></h6>
              <div class="testimonial-writter">

                <p> <%= name %> </p>
              </div>

              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
  </div>
  <div class="div-testimonial">
    <p class="profile below-testimonial"> Log in and add your comments here to update the above Testimonials.</p>
  </div>

<div class="comment-button">
  <a class="btn btn-secondary btn-lg" href="/login" role="button">Add Your Comment</a>
</div>
<div class="comment-button">
  <p class="profile below-testimonial">Thank you for visiting &#128522 </p>
</div>
